html {
  display: flex;
  justify-content: center;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

div {
  display: flex;
  justify-content: center;
  width: 0 auto;
  flex-direction: column;
}

img {
  max-width: 40%;
}

p {
  max-width: 40%;
}
