/* html {
  display: flex;
  justify-content: center;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

div {
  display: flex;
  justify-content: center;
  width: 0 auto;
  flex-direction: column;
}

img {
  max-width: 40%;
}

p {
  max-width: 40%;
  text-align: center; 
} */

/* #main {
  
} */

body {
  margin-right: 20%;
  /* A nice off-white color. Easy on the eyes */
  background-color: #eaeaea;
}

* {
  font-family: 'Roboto Flex', sans-serif;
}

div {
  text-align: left;
}

div.content {
  text-align: left;
  padding-right: 35%;
}

img {
  max-width: 30%;
  max-height: auto;
  border: 2px rgb(15, 15, 15) solid;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}
